body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

#banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    height: 600px;
}

.center {
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

#banner h1 {
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 0;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, rgb(0, 255, 89), rgb(0, 174, 255), rgb(30, 0, 128));
    padding: 12px 20px;
    border-radius: 4px;
}

#banner p {
    margin-bottom: 50px;
    color: white;
}

/* start donate today */

#donate-amount {
    margin-bottom: 50px;
}

#donate-amount h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
}

#donate-amount p {
    color: rgba(0, 0, 0, 0.623);
    font-weight: 900;
}

.flex {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

.flex span {
    margin: 10px;
    padding: 45px 20px;
    border: 2px solid rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.694);
    font-size: 25px;
    font-weight: 900;
    background-color: aliceblue;
    border-radius: 5px;
}

#single-taka {
    color: rgba(169, 35, 35, 0.753);
    border: 2px solid rgba(169, 35, 35, 0.671);
}

.form-control input {
    margin-bottom: 30px;
    border: 0;
    padding: 15px 50px;
    margin-left: 46px;
    font-size: 15px;
}

#donate-plan {
    margin-top: 150px;
}

#donate-plan h1 {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 0;
}

.text-align {
    text-align: center;
    padding-bottom: 40px;
}

.text-align p {
    color: gray;
}

.card {
    display: flex;
    padding-left: 10%;
    padding-bottom: 60px;
}

.card-style {
    width: 23%;
    height: 240px;
    border: 2px solid rgb(233, 224, 224);
    margin: 18px;
    padding: 44px 16px 8px 18px;
    background-color: rgba(127, 255, 212, 0.197);
    border-radius: 10px;
    box-shadow: 6px 4px 5px grey;
}

.card-style:hover {
    background-color: rgb(42, 165, 130);
    box-shadow: 10px 6px 8px rgb(219, 203, 203);
}

.card-shelter {
    background-color: rgba(251, 3, 218, 0.132);
}

.card-education {
    background-color: rgba(251, 3, 3, 0.174);
}

/* get updates css start here*/

.get-updates {
    text-align: center;
}

.get-updates h1 {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 0;
}

.get-updates p {
    color: gray;
    margin-bottom: 60px;
}

.subscribe-form {
    margin: auto;
    border: 1px solid rgb(250, 248, 248);
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    background-color: rgba(251, 84, 1, 0.248);

}

.subscribe-form input {
    margin-top: 74px;
    padding: 14px 30px;
    border: 0;
}

/* aid tracker start */

.aid {
    text-align: center;
}

.aid h1 {
    font-size: 46px;
    margin-bottom: 0;
}

.relief-aid {
    display: flex;
    width: 74%;
    margin-left: 150px;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}

.sub-relief {
    margin: 0 80px;
}

.relief-aid h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom: 120px;
}

/* footer starts */

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 120px;
    padding-top: 40px;
}

footer h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}